@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@layer global {

    :root {
        /* color custom properties */
        --c-white: #FFFFFF;
        --c-white-35: #ffffff35;
        --c-white-50: #ffffff88;
        --c-purple: #C271FF;
        --c-purple-50: #C271FF50;
        --c-purple-10: #C271FF10;
        --c-navy: #071629;
        --c-navy-50: rgba(7, 22, 41, 0.505);
        --c-black-50: rgba(0, 0, 0, 0.500);
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-family: "Source Sans 3", sans-serif;
    }

    body,
    p,
    h1,
    h2,
    h3 {
        margin: 0;
    }

    h1,
    h2,
    h3 {
        line-height: 1.1;
    }

    p {
        line-height: 1.3;
    }

    /* =========COMPONENTS ============= */

    /* button components */
    button {
        background-color: var(--c-purple);
        color: var(--c-white);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 9px 16px;
        border-radius: 40px;
        box-shadow: 0 2px 20px var(--c-black-50);
        cursor: pointer;
        border: 2px solid var(--c-purple);
        transition: background-color, color 400ms ease-in-out;
    }

    button:hover {
        background-color: transparent;
        color: var(--c-purple);
    }

    /* container components */

    .container {
        max-width: 1160px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 30px;
    }

    /* simple card component */
    .simple-card {
        max-width: 150px;
        text-align: center;
    }

    .simple-card img {
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .simple-card .title {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .simple-card .info {
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
    }

    /* video card component */

    .video-card {
        max-width: 255px;
        background-color: var(--c-purple-10);
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

    .video-card .image {
        position: relative;
        width: 255px;
        height: 154px;
    }

    .video-card .image>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (width<=680px) {
        .video-card .image {
            width: 100%;
            height: 200px;
        }

        .video-card {
            max-width: 100%;
        }
    }

    .video-card .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-color: var(--c-white-50);
        width: 64px;
        aspect-ratio: 1;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: background-color 500ms ease-in-out;
    }

    .video-card .play:hover {
        background-color: var(--c-white);
    }

    .video-card .body {
        padding: 18px 13px 15px;
    }

    .video-card .title {
        color: var(--c-navy);
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 7px;
    }

    .video-card .info {
        color: var(--c-black-50);
        font-size: 14px;
        margin-bottom: 14px;
    }

    .video-card .profile {
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 15px;

        img {
            width: 30px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .name {
            color: var(--c-purple);
            font-size: 14px;
            font-weight: 600;
        }
    }

    .video-card .rating-and-duration {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rating {
            display: flex;
            gap: 8px;
        }

        p {
            color: var(--c-purple);
            font-size: 14px;
            font-weight: 600;
        }
    }

    /* heading component */

    h2 {
        font-size: 32px;
        font-weight: 300;
        color: var(--c-white);
        text-align: center;

        span {
            color: var(--c-purple);
            font-weight: bold;
        }
    }
}

@layer header {
    header {
        position: absolute;
        width: 100%;
        padding-top: 35px;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 50px;
    }

    header a {
        color: var(--c-white);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        transition: color 500ms ease;
    }

    header a:hover {
        color: var(--c-purple);
    }

    #menu-toggle-button {
        display: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background-color: var(--c-purple);
        padding: 4px;
        transition: background-color 500ms ease-in;
    }

    #menu-close-button {
        display: none;
    }

    @media screen and (width<=980px) {

        header nav {
            display: none;
        }

        #menu-toggle-button {
            display: flex;
        }

        #menu-toggle-button:hover {
            background-color: var(--c-purple-50);
        }

        header.mobile-menu-active nav {
            display: flex;
            background-color: var(--c-purple);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        header.mobile-menu-active nav ul {
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            width: inherit;
        }

        #menu-close-button {
            display: block;
            position: absolute;
            top: 40px;
            right: 40px;
            cursor: pointer;
        }

        header a {
            font-size: 24px;
        }

        header a:hover {
            color: var(--c-navy);
        }
    }
}

@layer hero {
    .hero {
        background-image: url(images/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        padding-top: 120px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-text {
        text-align: center;
        color: var(--c-white);
    }

    .hero-text h1 {
        font-size: 80px;
    }

    .hero-text .tags {
        display: flex;
        gap: 20px;
        text-transform: uppercase;
        font-weight: 700;
        justify-content: center;
        margin-bottom: 10px;
    }

    .hero h2 {
        margin-bottom: 40px;
    }

    .hero-pros-container {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hero .simple-card {
        color: var(--c-white);
    }

    @media screen and (width<980px) {
        .hero-pros-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        .hero .simple-card {
            max-width: 100%;
            border-right: 2px solid var(--c-purple-50);
            background-color: var(--c-navy-50);
            padding: 10px;

        }

        .hero .simple-card img {
            width: 60px;
            height: 60px;
            margin-bottom: 0px;
        }

        .hero .simple-card {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .hero .simple-card .card-text {
            text-align: start;
        }

        .hero .simple-card h3 {
            margin-bottom: 0;
        }

        .hero-text h1 {
            font-size: 50px;
        }


    }

    @media screen and (width<=680px) {
        .hero-text h1 {
            font-size: 40px;
        }

        .hero-pros-container {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }


}

@layer testimonial {
    .testimonial {
        padding-block: 50px;
        background-color: var(--c-purple);
    }

    .testimonial .container {
        max-width: 943px;
    }

    .testimonial .simple-card {
        display: flex;
        align-items: center;
        gap: 30px;
        max-width: 100%;
        text-align: start;
        color: var(--c-white);
    }

    .testimonial .simple-card .info {
        font-style: normal;
        margin-bottom: 20px;
        font-size: 22px;
    }

    @media screen and (width<=680px) {
        .testimonial .simple-card {
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }

        .testimonial .simple-card img {
            width: 80px;
        }

        .testimonial .simple-card .info {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .testimonial .simple-card .title {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
}

@layer popular {
    .popular {
        padding-block: 80px;
    }

    .popular h2 {
        color: var(--c-navy);
        margin-bottom: 45px;
    }

    .popular-cards-container {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media screen and (width<1140px) {
        .popular-cards-container {
            justify-content: center;
            row-gap: 40px;
        }
    }

    @media screen and (width<680px) {
        .popular-cards-container {
            justify-content: center;
        }
    }
}

@layer free {
    .free {
        padding-block: 70px;
        background-color: var(--c-navy);
        /* set the button to the center of the screen */
        text-align: center;
    }

    .free h2 {
        margin-bottom: 50px;
    }

    .free-cards-container {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media screen and (width<1165px) {
        .free-cards-container {
            justify-content: center;
            row-gap: 50px;
        }
    }

    .free .simple-card {
        max-width: 257px;
        padding-inline: 22.5px;
        color: var(--c-white);
    }

    .free .simple-card img {
        border-radius: unset;
    }

    .free .simple-card .info {
        font-style: normal;
        font-weight: 300;
    }

    .free button {
        margin-top: 50px;
        margin-inline: auto;
    }
}

@layer faqs {
    .faqs {
        padding-block: 50px;
    }

    .faqs h2 {
        color: var(--c-navy);
        margin-bottom: 30px;
    }

    .faq-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 920px;
        gap: 10px;
    }

    .faq-item.active {
        height: 100%;
    }

    .faq-item .question {
        color: var(--c-purple);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .answer {
        color: var(--c-navy-50);
        margin-top: 20px;
    }


    .faq-item {
        background-color: var(--c-purple-10);
        padding: 20px;
        cursor: pointer;
        border-right: 2px solid var(--c-purple);

        height: 61px;
        overflow: hidden;

        transition: all 500ms ease-in;
    }

}

@layer footer {
    footer {
        background-color: var(--c-navy);
        padding: 50px 0 30px;
    }

    footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer ul {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 10px;
    }

    footer .socials img {
        width: 30px;
        transition: transform 250ms ease-in-out
    }

    footer .socials img:hover {
        transform: scale(1.2);
    }

    footer .copyright {
        text-align: center;
        color: var(--c-white-50);
        margin-top: 20px;
        font-size: 12px;
    }
}